<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <menuitem id="menu_pharmacy_root"
                    name="Pharmacy"
                    web_icon="om_pharmacy,static/src/img/logo.jpeg"
                    sequence="10"/>

        <menuitem id="menu_pharmacy_parent"
                    name="Pharmacy"
                    parent="menu_pharmacy_root"
                    action = 'om_pharmacy.action_hospital_pharmacy'
                    sequence="1"/>

        <menuitem id = "done_pharmacy_menu"
                    name="Purchased Pharmacy"
                    parent = 'menu_pharmacy_root'
                    sequence = '2'
                    action = 'om_pharmacy.action_hospital_done_pharmacy' />

         <menuitem id = "cancel_pharmacy_menu"
                    name="Cancel Pharmacy"
                    parent = 'menu_pharmacy_root'
                    sequence = '3'
                    action = 'om_pharmacy.action_hospital_cancel_pharmacy' />

        <menuitem id = "drug_pharmacy_menu"
                    name="Drug"
                    parent = 'menu_pharmacy_root'
                    sequence = '4'
                    action = 'mrp.product_template_action' />

    </data>
</odoo>