body {
  /* font-family: "Open Sans", sans-serif !important; */
  font-family: "Helvetica", sans-serif !important;
}

.logosizenav {
  width: 90px;
  height: auto;
}
#webheader-nav .navbar {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 999;
  box-shadow: 10 20px 80px 1px rgb(64 60 67 / 24%);
}
.webnavlink .nav-item .nav-link {
  color: #000 !important;
}

#navbarSupportedContent .nav-item a {
  color: #000;
  font-size: 1rem;
}

#navbarSupportedContent .nav-item.active a {
  color: #6986b1e0;
  font-weight: 500!important;
}

#webheader-nav .navbar-light .navbar-toggler {
  color: #0d73cf !important;
  border-color: transparent;
}

.signinbtn {
  margin-top: auto;
  margin-bottom: auto;
  background: #6986b1e0;
  /* border: 1px solid #00C18B; */
  border-radius: 25px;
  padding-right: 20px;
  padding-left: 20px;
  height: 28px;
  line-height: 1.8;
  box-shadow: 0 2px 8px 1px rgb(64 60 67 / 17%);
}

.signinbtn a {
  color: #fff !important;
  font-size: 13px;
}

.signinbtn:hover {
  background-color: #fff;
  border: 1px solid #6986b1e0;
}

.signinbtn a:hover {
  color: #6986b1e0 !important;
  text-decoration: none;
}

.header-content-text {
  /* width:60%; */
  font-size: 25px;
  font-weight: bold;
  padding-top: 20px;
  position: relative;
  font-family: "Helvetica", sans-serif !important;
  /* font-family: poppins !important; */
}

.header-content-text::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 60px;
  left: 0;
  border-top: 3px solid #00c18b;
}
.bnr-img1a {
  width: 80%;
  height: auto;
  transition: transform .7s ease-in-out;
  /* float: right; */
}
.bnr-img1a:hover {
  transform: rotate(360deg);
}
.cntr-text {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.read-more-btn {
  background: #00c18b;
  color: #fff;
  width: 150px;
  font-size: 13px !important;
  padding: 0.4rem 0.6rem !important;
  border-radius: 60px !important;
}

.read-more-btn-blue {
  background: #0d73cf;
  color: #fff;
}

.read-more-btn-green {
  background: #00c18b;
  color: #fff;
}
.read-more-btn-white {
  background: #ffffff;
  color: #00c18b;
}

.read-more-btn-blue:hover {
  border: 1px solid #0d73cf;
  color: #0d73cf;
  background: transparent;
}

.read-more-btn-green:hover {
  border: 1px solid #00c18b;
  color: #00c18b;
  background: transparent;
}
.read-more-btn-white:hover {
  border: 1px solid #ffffff;
  color: #fff;
  background: transparent;
}

.gray-bg-section {
  background-color: #f8f8f8;
  background-image: url(../img/Group_124.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.shadow-box {
  box-shadow: 0 2px 8px 1px rgb(64 60 67 / 24%);
  background-color: #fff !important;
}

.icon-img-set {
  height: 50px;
  width:auto;
}
.center-text {
  text-align: center;
}

.header-content-sm-text {
  /* width:60%; */
  font-size: 15px;
  font-weight: bold;

  position: relative;
}

.header-content-sm-text::after {
  content: "";
  display: block;
  position: absolute;
  top: auto;
  width: 30px;
  left: 0;
  border-bottom: 3px solid #00c18b;
}

.sm-text-content {
  font-size: 12px;
}

.sm-card-pd {
  padding: 0px;
}
.bg-bluegreen {
  background-image: url(../img/bgthirdfooter.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
}

.header-content-text-white {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  width: 75%;
}

.green-blue-hght {
  height: 400px;
}

.girl-img {
  width: 90%;
  height: auto;
  float: right;
  position: absolute;
  bottom: -20px;
  right: 73px;
}

.website-content {
  text-align: justify;

  width: 75% !important;
}
@media only screen and (max-width: 600px) {
  .website-content {
    width: 90% !important;
    font-size: 13px !important;
  }
  .header-one-width {
    width: 90% !important;
  }
  .header-content-text-white {
    font-size: 20px !important;
    width: 85% !important;
  }
  .pad-inside-card {
    padding: 12px !important;
  }
  .pad-box {
    padding: 1rem !important;
  }
  .header-content-text {
    font-size: 17px;
  }
  .header-one-width {
    width: 69% !important;
  }
  .header-content-text::before {
    width: 40px !important;
  }
  .signinbtn {
    width: 50%;
    text-align: center;
  }
  .header-two-width {
    width: 64% !important;
  }
  #bnrheader-one-image {
    order: 1 !important;
    padding-top: 60px;
    text-align: center;
  }
  #bnrheader-two-content {
    order: 2 !important;
    padding-top: 30px;
  }
  #bnrheader-three-image {
    order: 3 !important;
    padding-top: 30px;
    text-align: center;
  }
  #bnrheader-four-content {
    order: 4 !important;
    padding-top: 30px;
  }
  .bnr-img1a {
    float: none !important;
  }
  #ftr .padbtm {
    padding-bottom: 1rem !important;
  }
  #ftr .padtop {
    padding-top: 1rem !important;
  }
  .padtopfirst {
    padding-top: 40px !important;
  }
  #webheader-nav .navbar {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  #navbarSupportedContent {
    background: #0d73cf;
    color: #fff;
  }
  #navbarSupportedContent .nav-item.active a {
    color: #fff;
    font-weight: 500;
  }
  #navbarSupportedContent .navbar-nav {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #navbarSupportedContent .nav-item a {
    color: #fff;
  }
  .blue-main img {
    width: 251px !important;
    position: absolute !important;
    bottom: 0 !important;
  }

  .blue-main {
    height: 400px !important;
    display: none;
  }
  .blue-main-contact {
    height: 400px !important;
    display: none;
  }
  .signinup-form-box {
    border-radius: 10px !important;
    width: 90% !important;
  }
  .form-wrap .tabs-form {
    overflow: hidden;
    background-color: #f3f8fd;
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
  }
  .pd-lft-zero {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .form-link-section {
    text-align: center;
    display: block !important;
    justify-content: center;
  }
  .form-wrap {
    margin-left: 15px !important;
  }
  .pb-m-z {
    padding-bottom: 0.5rem !important;
  }
  .px-sm-3 {
    padding: 1rem;
  }
  .contact-us-title::after {
    content: "";
    display: block;
    position: absolute;
    top: auto;
    width: 30px;
    left: 2.5rem !important;
    border-bottom: 3px solid #00c18b;
  }
  .blue-main-contact {
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0px !important;
  }
  #contact-frm .shadow-box {
    box-shadow: none !important;
  }
  .contact-right-frm {
    box-shadow: 0 2px 8px 1px rgb(64 60 67 / 24%);
  }
  .white-bg-form {
    height: auto !important;
  }
  .white-bg-form-contact {
    height: auto !important;
  }
  .green-circle-bg-contact {
    background: none !important;
  }
}

.header-one-width {
  width: 50%;
}
.header-two-width {
  width: 62%;
}
.ftr-title {
  font-size: 20px;
  font-weight: bold;
}
/* .navbar-light .navbar-toggler-icon{
  background-image: url("../images/menu.svg")!important;
} */

.bg-white {
  background: #fff;
}

/* .pad-inside-card
{
  padding:24px;
} */

.pad-box {
  padding: 3rem;
}

#navbarSupportedContent .nav-item a {
  font-size: 14px;
}

.green-txt {
  color: #00c18b;
}

#ftr i.fa.fa-phone {
  display: inline-block;
  border-radius: 60px;
  /* box-shadow: 0px 0px 2px #888; */
  padding: 0.5em 0.6em;
  background: #00c18b;
  border: 3px solid #c9f5eb;
  color: #fff;
  font-size: 13px;
}

#ftr i.fa.fa-envelope {
  display: inline-block;
  border-radius: 60px;
  /* box-shadow: 0px 0px 2px #888; */
  padding: 0.5em 0.6em;
  background: #0d73cf;
  border: 3px solid #dfedf9;
  color: #fff;
  font-size: 13px;
}

.ftr-text-content {
  font-size: 14px;
}

.contact-pad-left {
  padding-left: 10px;
}
.slide-up {
    display: inline-block;
}

.slide-up:hover{
  animation: slide-up 3000ms;
  animation-timing-function: cubic-bezier(0.15, 0.32, 0.55, 1.35);
  /*animation: slide-up 1s cubic-bezier(0.35, 0, 0, 1) both;*/
}

#ftr {
  background-image: url(../img/patternlightshade.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #6986b1e0;
}

#ftr .pb-md-5 {
  padding-bottom: 3rem;
}

#ftr .p-sm-3 {
  padding-bottom: 2rem;
}

#ftr .padbtm {
  padding-bottom: 3rem;
}
#ftr .py-sm-3 {
  padding-bottom: 1rem;
}
.signinup-form-box {
  border-radius: 30px;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

.blue-btm-ptrn {
  background-image: url(../img/circlecontactptrn.png),
    url(../img/signinptrn.png);
  background-position: top -46px left -59px, bottom -0px center;
  background-color: #0d73cf;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 130px, 100%;
  /* background-position: bottom; */
}
.padbtm-title {
  padding-bottom: 1rem;
}
@keyframes slide-up {
  0% { transform: translate(  0px,0);}
  50% { transform: translate(100px,0);}
  100% { transform: translate(  0px,0);}
}

/*********************signinsignup page css************/

.form-wrap {
  padding: 0px;
  /* background-color: #fff;
  width: 320px;
  margin: 3em auto;
  box-shadow: 0px 1px 8px #BEBEBE;
  -webkit-box-shadow: 0px 1px 8px #BEBEBE;
  -moz-box-shadow: 0px 1px 8px #BEBEBE; } */
}
.form-wrap .tabs-form {
  overflow: hidden;
  background-color: #f3f8fd;
  /* width: 97.2%; */
  border-top-right-radius: 30px;
}
.form-wrap .tabs-form h3 {
  float: left;
  width: 50%;
}
.form-wrap .tabs-form h3 a {
  text-decoration: none;
  padding: 0.8em 0;
  text-align: center;
  font-weight: 400;
  /* background-color: #F3F8FD; */
  display: block;
  color: #0d73cf;
  font-size: 18px;
}
.form-wrap .tabs-form h3 a.active::after {
  display: block;
  content: "";
  /* z-index: 999; */
  width: 50%;
  position: relative;
  bottom: -14px;
  /* background-color: #fff; */
  border-bottom: 2px solid #00c18b;
  margin-left: auto;
  margin-right: auto;
}
.form-wrap .tabs-content {
  padding: 1.5em;
}
.form-wrap .tabs-content div[id$="tab-content"] {
  display: none;
}
.form-wrap .tabs-content .active {
  display: block !important;
}
.form-wrap form .input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  padding: 0.8em 0 10px 0.8em;
  border-left: none !important;
  border-top: none !important;
  border-right: none !important;
  /* border:none; */
  border: 1px solid #707070;
  outline: 0;
  display: inline-block;
  margin: 0 0 0.8em 0;
  padding-right: 2em;
  width: 100%;
  padding-bottom: 5px;
  padding-left: 0px;
}
.form-wrap form .button {
  width: 100%;
  padding: 0.5em 0 9px 0.5em;
  background-color: #0d73cf;
  border: none;
  color: #fff;
  cursor: pointer;
  /* text-transform: uppercase; */
  border-radius: 35px;
  border: 1px solid #0d73cf !important;
}
.form-wrap form .button:hover {
  background-color: #fff;
  border: 1px solid #0d73cf !important;
  color: #0d73cf !important;
}
.form-wrap form .checkbox {
  visibility: hidden;
  padding: 20px;
  margin: 0.5em 0 1.5em;
}
.form-wrap form .checkbox:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.form-wrap form label[for] {
  position: relative;
  padding-left: 10px;
  cursor: pointer;
}
.form-wrap form label[for]:before {
  content: "";
  position: absolute;
  border: 1px solid #cfcfcf;
  width: 17px;
  height: 17px;
  top: 0px;
  left: -14px;
  border-radius: 3px;
}
.form-wrap form label[for]:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: "";
  position: absolute;
  width: 9px;
  height: 5px;
  background-color: transparent;
  top: 4px;
  left: -10px;
  border: 3px solid #28a55f;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.form-wrap .help-text {
  margin-top: 0.6em;
}
.form-wrap .help-text p {
  text-align: center;
  font-size: 14px;
}

.blue-main {
  border-top-left-radius: 30px;
  border-top-left-radius: 30px;
}
.blue-main-contact {
  border-top-left-radius: 30px;
  border-top-left-radius: 30px;
}

.form-wrap .tabs-form h3 a.active {
  color: #00c18b;
  font-weight: 500;
}

#signinsignupfrm h3 {
  font-size: 13px;
}

.blue-main {
  position: relative !important;
  border-bottom-left-radius: 30px !important;
  min-height: 400px !important;
}

.blue-main-contact {
  position: relative !important;
  border-bottom-left-radius: 30px;
  min-height: 400px !important;
}
.blue-main img {
  width: 280px;
  position: absolute;
  bottom: 0;
}

.input-label {
  color: #00c18b;
  font-size: 14px;
  /* margin-bottom: 0px; */
}
.input-label-blue {
  font-size: 14px;
  color: #0d73cf;
}
.form-wrap form .input {
  padding-top: 0px;
  padding-bottom: 0px;
}

.tabs-content {
  padding-right: 4em !important;
  padding-left: 3.3rem !important;
}
.signin-link {
  padding-left: 13px;
}
.form-link-section {
  display: flex;
  justify-content: center;
}

.white-bg-form {
  background-image: url(../img/whitepattern.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 480px;
}
.white-bg-form-contact {
  background-image: url(../img/bluecirclewht.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 480px;
}
.pd-lft-zero {
  padding-left: 0px !important;
}
.signin-link {
  color: #0d73cf;
}
.remember-me-text {
  font-size: 14px !important;
}

/* .form-wrap form .checkbox:checked + label :before
    {
        background-color: #00c18b!important;

    } */

.reset-pass {
  float: right;
}
.signup-tab {
  margin-bottom: 0px !important;
}
.login-tab {
  margin-bottom: 0px !important;
}

.white-bg-form .input {
  font-size: 13px;
}
.white-bg-form-contact .input {
  font-size: 13px;
}

.img-left-form {
  display: flex;
  justify-content: center;
}
.img-left-form-contact {
  display: flex;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #00c18b !important;
  opacity: 1 !important;
}
.form-wrap form label[for]:after {
  opacity: 1;
  content: "";
  position: absolute;
  width: 9px;
  height: 5px;
  background-color: transparent;
  top: 4px;
  left: -10px;
  border: 3px solid #ffffff;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.form-wrap form label[for]:before {
  background: #fff;
}
.custom-control-label {
  font-size: 12px;
}
.custom-control-input :focus {
  border: none !important;
}

input[type="checkbox"]:focus + label::before {
  outline: none;
}

/* .child{width:300px;} */

/* .card-wrap{
      width:300px;
      height:400px;
      border:1px solid red;
    } */

.card-wrap {
  justify-content: center;
}

.first-section-home {
  background-image: url(../img/circleptrn.png), url(../img/circleptrnt.png);
  background-position: top -46px right -59px, bottom -59px left -42px;
  background-repeat: no-repeat;
  background-size: 130px;
  background-color: #6986b1e0;
}
.cnt-main {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

.signinbtn {
  margin-left: 1rem;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

#ftr {
  padding: 0px;
  margin: 0px;
}

.white-text-header {
  color: #fff;
}

.contact-header {
  font-family: "Helvetica", sans-serif !important;
  /* font-family: poppins !important; */

  font-size: 20px;
  font-weight: 600;
}
.contact-header::after {
  content: "";
  display: block;
  position: absolute;
  top: auto;
  width: 30px;
  left: 4rem;
  border-bottom: 3px solid #00c18b;
}

.sm-white-txt-contact {
  font-size: 12px;
  color: fff;
}
.contact-ic {
  width: 27px !important;
  height: auto;
}

.contact-text-white {
  color: #fff;
  font-size: 13px;
}
.contact-div-portion {
  margin-top: auto;
  margin-bottom: auto;
}

.verticl-md-tbl {
  display: table;
}
.verticl-md-tbl-child {
  vertical-align: middle;
  display: table-cell;
}
.contact-us-title {
  color: #0d73cf;
  font-size: 20px;
}
.contact-us-title::after {
  content: "";
  display: block;
  position: absolute;
  top: auto;
  width: 30px;
  left: 3rem;
  border-bottom: 3px solid #00c18b;
}

.green-circle-bg-contact {
  background: url("../img/bgcirclegreenhj.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-wrap form textarea {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border-left: none !important;
  border-top: none !important;
  border-right: none !important;
  border: 1px solid #707070;
  border-radius: 0px;
  font-size: 13px;
}
.chngpc::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #00c18b;
}
.chngpc:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #00c18b;
  opacity: 1;
}
.chngpc::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #00c18b;
  opacity: 1;
}
.chngpc:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #00c18b;
}
.chngpc::placeholder {
  /* Internet Explorer 10-11 */
  color: #00c18b !important;
  font-size: 13px;
}

.cnt_btn_id {
  background-color: #0d73cf;
}

.alternet_class {
  background-image: url(../img/Asset_back1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #f8f8f8;
}

.signinbtn {
  border: 1px solid #6986b1e0;
}
.signinbtn:hover {
  color: #0d73cf !important;
}
.homepage {
  overflow-x: hidden;
}

